body {
    font-family: 'Inter', sans-serif;
    background-color: #eff4fd;
}

.display-4 {
    font-weight: 800;
    color: #007ea7;
}

.lead {
    color: #2f6690
}

.table {
    border-radius: 0 0 20px 20px;
    padding: 40px;
}

.table-emprestimos, .table-users, .table-books {
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    border: none !important;
}

.table th, .table td {
    border: none;
    padding: 10px;
}

.table thead {
    height: 60px;
    border: none !important;
    background-color: #054f79;
    color: #caf0f8;
}

.table thead tr td {
    color: #caf0f8;
    border: none !important;
}

.tool-items {
    background-color: #054f79;
    color: #caf0f8;
    border: none !important;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

/* Cards */
/* Customizando o tamanho e a margem dos cards */
.card {
    border-radius: 0 0 20px 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-usuario {
    background-color: #bde0fe;
    border: 1px solid #548fc4;
    border-radius: 20px;
}

.card-livros {
    background-color: #a2f7dd;
    border: 1px solid #22ac82;
    border-radius: 20px;
}

.card-class-livros {
    background-color: #f5beaa;
    border: 1px solid #dd8160;
    border-radius: 20px;
}

.card-emprestimo {
    background-color: #b1adf7;
    border: 1px solid #645dda;
    border-radius: 20px;
}

.card-usuario:hover {
    background: linear-gradient(to bottom, #1e96fc, #bde0fe, #edf6f9);
}

.card-livros:hover {
    background: linear-gradient(to bottom, #5cf3c6, #a2f7dd, #edf6f9);
}

.card-class-livros:hover {
    background: linear-gradient(to bottom, #ff6b35, #f5beaa, #edf6f9);
}

.card-emprestimo:hover {
    background: linear-gradient(to bottom, #736ced, #b1adf7, #edf6f9);
}

/* Buttons dos cards */
.btn-cadusuario:hover,
.btn-cadlivros:hover,
.btn-classificacao,
.btn-emprestimo {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-cadusuario {
    background-color: #0d88f3;
    color: #d4e5f3;
    font-weight: 600;
    border: 0;
    height: 45px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
}

.btn-cadlivros {
    background-color: #5cf3c6;
    color: #044633;
    font-weight: 600;    
    border: 0;
    width: 100%;
    height: 40px;
    margin-top: 100px;
    border-radius: 10px;
}

.btn-classificacao {
    background-color:  #ff6b35;
    color: #f7e7e2;
    font-weight: 600;
    border: 0;
    width: 100%;
    height: 40px;
    margin-top: 100px;
    border-radius: 10px;
}

.btn-emprestimo {
    background-color: #8156f7;
    color: #ccbbfa;
    font-weight: 600;
    border: 0;
    width: 100%;
    height: 40px;
    margin-top: 100px;
}

.btn-emprestimo:hover {
    color: #ccbbfa;
}

.btn-cadusuario:hover {
    color: #d4e5f3;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Tornar os cards mais compactos em telas menores */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}